/* styling the book contents */
main {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: left;
    line-height: 1.5;
    padding: 0 10px;
}
main .selflink {
    color: inherit;
    position: relative;
    top: 3px;
}
main p {
    line-height: calc(1ex / 0.32);
}
/* invert the table header colors */
main table th {
    background-color: rgb(var(--text-color));
    color: rgb(var(--page-background-color));
}

@supports (font-size-adjust: 1) {
    main {
        font-size-adjust: 0.6;
    }
}

@media(max-width: 768px) {
    main img {
        max-width: 90vw;
        object-fit: contain;
        
    }
}