/* page layout */
html {
    height: 100%;
}
body {
    display: grid;
    grid-template-areas: 
    "nav main app-toolbar"
    "playback-toolbar main document-links";
    grid-template-columns: minmax(10rem, 25%) 45rem minmax(10rem, 25%);
    grid-template-rows: auto 10rem;
    margin: 1rem 1rem 2rem 1rem;
    background-color: rgb(var(--page-background-color));
    color:rgb(var(--text-color));
    height: 100%;
}
html.js body * {
    display: none; /* hide until load */
}
html.js body {
    background-color: rgb(var(--page-background-color));
}
a {
    color: rgb(var(--link-color));
}
a:hover {
    text-decoration-thickness: 2px;
}

main {
    grid-area: main;
}
main a.selflink {
    color: rgb(var(--text-color));
    margin-left: 1rem; 
}
main a.selflink .iconify {
    width: calc(var(--icons) * .6);
}
body.dim-10 main {
    opacity: 10% !important;
}
body.dim-70  main {
    opacity: 70%;
}
svg.iconify {
    width: var(--icons);
    height: var(--icons);
}

#nav {
    grid-area: nav;
    overflow-y: scroll;
    position: fixed;
    width: 25rem;
}
#document-links {
    grid-area: document-links;
    justify-self: right;
    align-self: end;
    position: sticky;
    bottom: 1rem;
    height: min-content;
    width: min-content;
}

#playback-toolbar {
    grid-area: playback-toolbar;
    position: sticky;
    bottom: 1rem;
    justify-self: left;
    align-self: end;
}
#app-toolbar {
    grid-area: app-toolbar;
    position: sticky;
    top: 0;
    justify-self: right;
}

#document-links a {
    color: rgb(var(--text-color));
    height: var(--icons);
}

/*****************************/
/* MOBILE                    */
/*****************************/
@media (max-width: 768px) {
    body {
        margin: 0 1rem 0 1rem;

        grid-template-areas: 
            "main main main"
            "nav  doc-links app-toolbar";
        grid-template-columns: auto auto auto;
        grid-template-rows: auto 10rem;
        height: 100vh;
    }   
    main {
        grid-column: 1/4;
    }
    
    
    #document-links {
        
        grid-area: doc-links;
        position: sticky;
        bottom: 0;
        background-color: rgb(var(--page-background-color));  
        border-radius: 4px;
        grid-column: 3/4;
        right: 0;
    }
    
    #app-toolbar {
        position: sticky !important;
        background-color: rgb(var(--page-background-color));
        border-radius: 4px;
        flex-direction: row;
        bottom: 0;
        align-self: center;
        gap: 1rem;
        grid-area: app-toolbar;
        grid-column: 2/3;
        top: inherit;
    }
    #nav {
        position: sticky;
        bottom: 0 !important;    
        background-color: rgb(var(--page-background-color));
        border-radius: 4px;
        width: min-content;
        left: 0;
        grid-column: 1/1;
        grid-template-area: nav;

    }
    #nav.expanded {
        width: 90vw;
    }
}