/* the panel layout: nav content, then tab buttons along the bottom*/

#nav.expanded {
    top: 0;
    left: 0;
}

#nav.expanded > div {
    display: grid;
    grid-template-areas: 
        "buttons"
        "content";
    grid-template-rows: 8rem auto;
    border-radius: 4px;
    border: none; 
    height: 100vh;
    left: 0;
    
}
#nav nav a {
    color: rgb(var(--text-color));
}

/* tab panels */
#nav [role=tabpanel] {
    grid-area: content;
    overflow: scroll;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}

#nav ul, #nav ol {
    margin: 0;
}

/* the tab buttons */

#list-of-navs {
    grid-area: buttons;
    padding: 0px;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0;
    gap: .25rem;
}

#list-of-navs button[role=tab] {
    background: transparent;
    border: none;
    color: rgb(var(--icon-color));
    font-size: 65%;
    width: min-content;
    height: min-content;
}
#list-of-navs .iconify {
    width: calc(var(--icons) * .75);
    height: calc(var(--icons) * .75);
}
#list-of-navs button[role=tab][aria-selected=true] {
    cursor: default;
    opacity: 100%;
    border-bottom: .25rem solid rgb(var(--tab-focus-color));
    border-radius: 0;
}
#list-of-navs button[role=tab][aria-selected=false]:hover{
    cursor: pointer;
}
#list-of-navs button[role=tab] span {
    display: block;
}
#list-of-navs button[role=tab] > * {
    pointer-events: none;
}

#pagelist-wrapper #gotopage-error {
    margin: .5rem;
    font-size: smaller;
    
}
#search div, #pagelist-wrapper > div > div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
#search input, #pagelist-wrapper input {
    border-radius: 10px;
    line-height: 1.5;
    border: thin solid rgb(var(--text-color), .7);
}
#search input:hover, #pagelist-wrapper input:hover {
    border: thin solid rgb(var(--tab-focus-color), 0.7);
}
#search input[type=search], #pagelist-wrapper input[type=text] {
    flex-grow: 1;
    padding: 3px;
    font-size: 100%;
}
#search label, #pagelist-wrapper label {
    position: absolute;
    visibility: hidden;
}
#search p, #pagelist-wrapper p {
    font-style: italic;
    margin-top: 3rem;
}
#search input[type=button], #pagelist-wrapper input[type=button] {
    font-size: 100%;
}
#pagelist-wrapper p {
    display: block;
}
#bookmarks p {
    font-style: italic;
}
#about img {
    max-width: 90%;
    max-height: 20rem;
    margin: 1rem;
}
#about ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#about li span:first-child {
    font-weight: bold;
}

@media(max-width: 768px) {
    #nav.expanded > div {
        grid-template-areas: 
            "content"
            "buttons";
        grid-template-rows: auto 8rem;
    }
}