#abinb-app-toolbar {
    display: flex;
    flex-direction: column;
}

#abinb-app-toolbar > div fieldset {
    border: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

#abinb-settings >  button, #abinb-help {
    padding: 0;
    transition: .2s;
}
