.abotw-panel {
    z-index: 1;  
    -webkit-user-select: none;
    user-select: none;
}

.abotw-panel > div {
    -webkit-font-smoothing: antialiased;
    z-index: 0;
}

.abotw-panel button[aria-expanded=true] + div { 
    -webkit-touch-callout: none;
    display: block;
}

.abotw-panel button[aria-expanded=false] + div {
    display: none;
}

.abotw-panel {
    position: relative;
    /*! top: -.25rem; */
    border: none;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.abotw-panel.abotw-expanded {
    box-shadow: 0px 0px 7px black;
    padding: .5rem;
    padding-bottom: 10px;
    border: 2px var(--abotw-border-color) solid;
    position: fixed;
    background: rgb(var(--abotw-page-background-color));
}

.abotw-panel:not(.abotw-expanded) {
    height: min-content;
    width: min-content;
}

/* the hamburger */
.abotw-panel:hover > button, .abotw-panel.abotw-expanded > button {
    opacity: 100%;
}
.abotw-panel.abotw-expanded > button > svg:first-child {
    display: none;
}
.abotw-panel.abotw-expanded > button > svg:last-child {
    display: block;
}
.abotw-panel:not(.abotw-expanded) > button > svg:first-child {
    display: block;
}
.abotw-panel:not(.abotw-expanded) > button > svg:last-child {
    display: none;
}
/* make close "X" button icon smaller than the default icon size */
.abotw-panel.abotw-expanded > button .abotw-iconify {
    width: calc(var(--abotw-icons)/2);
    height: calc(var(--abotw-icons)/2);
    transition: .2s;
}