.p4w-panel {
    z-index: 1;  
    -webkit-user-select: none;
    user-select: none;
}

.p4w-panel > div {
    -webkit-font-smoothing: antialiased;
    z-index: 0;
}

.p4w-panel button[aria-expanded=true] + div { 
    -webkit-touch-callout: none;
    display: block;
}

.p4w-panel button[aria-expanded=false] + div {
    display: none;
}

.p4w-panel {
    position: relative;
    /*! top: -.25rem; */
    border: none;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.p4w-panel.p4w-expanded {
    box-shadow: 0px 0px 7px black;
    padding: .5rem;
    padding-bottom: 10px;
    border: 2px var(--p4w-border-color) solid;
    position: fixed;
    background: black;
}

.p4w-panel:not(.p4w-expanded) {
    height: min-content;
    width: min-content;
}

/* the hamburger */
.p4w-panel:hover > button, .p4w-panel.p4w-expanded > button {
    opacity: 100%;
}
.p4w-panel.p4w-expanded > button > svg:first-child {
    display: none;
}
.p4w-panel.p4w-expanded > button > svg:last-child {
    display: block;
}
.p4w-panel:not(.p4w-expanded) > button > svg:first-child {
    display: block;
}
.p4w-panel:not(.p4w-expanded) > button > svg:last-child {
    display: none;
}
/* make close "X" button icon smaller than the default icon size */
.p4w-panel.p4w-expanded > button .p4w-iconify {
    width: calc(var(--p4w-icons)/2);
    height: calc(var(--p4w-icons)/2);
    transition: .2s;
}