/* nav styles that are relevant whether viewing nav as a standalone document or as a sidebar */

nav ol, nav ul {
    list-style-type: none;
    padding: 0;
    font-variant: small-caps;
}
nav li li {
    padding-left: 2rem;
    line-height: 1.2 !important;
    font-size: 80% !important;
}
nav li a:not(:hover) {
    text-decoration: none;
}
nav ul > li, nav ol > li {
    line-height: 2;
    font-size: 110%;
}
nav.epubtype-pagelist li {
    line-height: 2;
    
}
nav.epubtype-pagelist ol {
    column-count: 4;
    height: 100%;
}

