#abinb-playback-toolbar {
    flex-wrap: wrap;
}
body.abinb-playing #abinb-playpause > svg:first-child {
    display: none;
}
body.abinb-playing #abinb-playpause > svg:last-child {
    display: block;
}
body:not(.abinb-playing) #abinb-playpause > svg:first-child {
    display: block;
}
body:not(.abinb-playing) #abinb-playpause > svg:last-child {
    display: none;
}

/* for some reason, this button is a little offset when compared to its neighbors, so this adjustment fixes it */
#abinb-playpause {
    align-self: start;
}

#abinb-volume {
    align-self: center;
    width: calc(var(--abinb-icons) * 1.5);
    background-color: var(--abinb-page-background-color); /* otherwise there's a background flicker onhover */
    height: 100%; /* otherwise the thumb gets cut off */
}