#p4w-playpause.playing > svg:first-child {
    display: none;
}
#p4w-playpause.playing > svg:last-child {
    display: block;
}
#p4w-playpause:not(.playing) > svg:first-child {
    display: block;
}
#p4w-playpause:not(.playing) > svg:last-child {
    display: none;
}

/* for some reason, this button is a little offset when compared to its neighbors, so this adjustment fixes it */
#p4w-playpause {
    align-self: start;
}