#abinb-settings.abinb-expanded {
    right: 0;
    top: 0;
    width: 90vw; /* mobile-friendly by default */
}

#abinb-settings fieldset div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
    line-height: 1.6;
}

#abinb-settings fieldset div label {
    white-space: nowrap;
    width: 5rem;
}

#abinb-settings fieldset div input {
    padding: 10px;
    margin: 0;
}
#abinb-settings fieldset input+p {
    font-size: smaller;
    font-family: Courier New, serif;
    font-weight: bold;
    
}
#abinb-settings fieldset div button {
    border: thin solid;
    font-size: 100%;
}
#abinb-settings input[type=range] {
    background-color: rgb(var(--abinb-icon-color));
    border-radius: 4px;
}
/* basically: non-narrow screens */
@media(min-width: 500px) {
    #abinb-settings.abinb-expanded {
        width: 60ch;
    }
}