#abotw-settings.abotw-expanded {
    right: 0;
    top: 0;
    width: 25%;
}

#abotw-settings fieldset div {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
    line-height: 1.6;
}

#abotw-settings fieldset div label {
    white-space: nowrap;
    width: 5rem;
}

#abotw-settings fieldset div input {
    padding: 10px;
    margin: 0;
}
#abotw-settings fieldset input+p {
    font-size: smaller;
    font-family: Courier New, serif;
    font-weight: bold;
    
}
#abotw-settings fieldset div button {
    border: thin solid;
    font-size: 100%;
}
#abotw-settings input[type=range] {
    background-color: rgb(var(--abotw-icon-color));
    border-radius: 4px;
}