/* toolbars */
:root {
    --abotw-icons: 2rem;
    --abotw-resting-opacity: 50%;
}

svg.abotw-iconify {
    width: var(--abotw-icons);
    height: var(--abotw-icons);
}

.abotw-toolbar fieldset {
    border: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}
.abotw-toolbar button {
    border: none;
    background-color: inherit;
    color: rgb(var(--abotw-icon-color));
}
.abotw-toolbar button, #abotw-document-links a, #abotw-help {
    border-radius: 10px;
}
.abotw-toolbar a {
    color: inherit;
}
.abotw-lightup {
    opacity: calc(var(--abotw-resting-opacity) + 10%);
}
.abotw-lightup:hover {
    opacity: 100%;
    transition: .2s;
    background-color: rgb(var(--abotw-hover-color)); 
}

#abotw-document-links {
    display: flex;
    gap: 1rem;
    margin: 0;
}

#abotw-playback-toolbar, #abotw-app-toolbar, #abotw-nav-toolbar {
    display: flex;
    height: min-content;
    /* width: min-content; */
}

#abotw-nav-toolbar {
    flex-direction: column;
}

#abotw-app-toolbar fieldset {
    flex-direction: column;
}

