/* toolbars */
:root {
    --abinb-icons: 2rem;
    --abinb-resting-opacity: 50%;
}

svg.abinb-iconify {
    width: var(--abinb-icons);
    height: var(--abinb-icons);
}

.abinb-toolbar fieldset {
    border: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}
.abinb-toolbar button {
    border: none;
    background-color: inherit;
    color: rgb(var(--abinb-icon-color));
}
.abinb-toolbar button, #abinb-document-links a, #abinb-help {
    border-radius: 10px;
}
.abinb-toolbar a {
    color: inherit;
}
.abinb-lightup {
    opacity: calc(var(--abinb-resting-opacity) + 10%);
}
.abinb-lightup:hover {
    opacity: 100%;
    transition: .2s;
    background-color: rgb(var(--abinb-hover-color)); 
}

#abinb-document-links {
    display: flex;
    gap: 1rem;
    margin: 0;
}

#abinb-playback-toolbar, #abinb-app-toolbar, #abinb-nav-toolbar {
    display: flex;
    height: min-content;
    /* width: min-content; */
}

#abinb-nav-toolbar {
    flex-direction: column;
}

#abinb-app-toolbar fieldset {
    flex-direction: column;
}

